---
services:
  freqtrade:
    image: stash86/freqtrade:latest
    restart: unless-stopped
    container_name: freqtrade
    volumes:
      - "./user_data:/freqtrade/user_data"
      - "./freqtrade_strategies:/freqtrade/freqtrade_strategies"
    ports:
      - "${DB_HOST:-127.0.0.1}:8081:8081"
    command: >
      trade
      --logfile /freqtrade/user_data/logs/freqtrade1.log
      --config /freqtrade/user_data/config1.json
      --config /freqtrade/user_data/config-exchange1.json
      --config /freqtrade/user_data/config-exchange-general.json
      --config /freqtrade/user_data/config-exchange-blacklist.json
      --config /freqtrade/user_data/config-telegram1.json
      --config /freqtrade/user_data/config-telegram-general.json
      --db-url postgresql+psycopg2://${DB_USER:-admin}:${DB_PASS:-12345}@${DB_HOST:-127.0.0.1}:${DB_PORT:-5432}/<db_name>
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  freqtrade2:
    image: stash86/freqtrade:linux-arm64-v8
    # build:
    #   context: .
    #   dockerfile: "./docker/Dockerfile.custom"
    # links:
    #   - "binance_proxy"
    # depends_on:
    #   - "binance_proxy"
    restart: unless-stopped
    container_name: freqtrade2
    volumes:
      - "./user_data:/freqtrade/user_data"
      - "./freqtrade_strategies:/freqtrade/freqtrade_strategies"
    # ports:
    #   - "${DB_HOST:-127.0.0.1}:8082:8081"
    command: >
      trade
      --logfile /freqtrade/user_data/logs/freqtrade2.log
      --config /freqtrade/user_data/config2.json
      --config /freqtrade/user_data/config-exchange2.json
      --config /freqtrade/user_data/config-exchange-general.json
    #  --config /freqtrade/user_data/config-exchange-general-binance-proxy-docker.json
    #  --config /freqtrade/user_data/config-exchange-general-binance-proxy-futures.json
    #  --config /freqtrade/user_data/config-exchange-general-docker-kucoin.json
      --config /freqtrade/user_data/config-exchange-blacklist.json
      --config /freqtrade/user_data/config-telegram2.json
      --config /freqtrade/user_data/config-telegram-general.json
    #  --config /freqtrade/user_data/config-discord2.json
  freqtrade3:
    image: stash86/freqtrade:linux-arm64-v8
    # build:
    #   context: .
    #   dockerfile: "./docker/Dockerfile.custom"
    # links:
    #   - "binance_proxy"
    # depends_on:
    #   - "binance_proxy"
    restart: unless-stopped
    container_name: freqtrade3
    volumes:
      - "./user_data:/freqtrade/user_data"
      - "./freqtrade_strategies:/freqtrade/freqtrade_strategies"
    # ports:
    #   - "${DB_HOST:-127.0.0.1}:8083:8081"
    command: >
      trade
      --logfile /freqtrade/user_data/logs/freqtrade3.log
      --config /freqtrade/user_data/config3.json
      --config /freqtrade/user_data/config-exchange3.json
      --config /freqtrade/user_data/config-exchange-general.json
    #  --config /freqtrade/user_data/config-exchange-general-binance-proxy-docker.json
    #  --config /freqtrade/user_data/config-exchange-general-binance-proxy-futures.json
    #  --config /freqtrade/user_data/config-exchange-general-docker-kucoin.json
      --config /freqtrade/user_data/config-exchange-blacklist.json
      --config /freqtrade/user_data/config-telegram3.json
      --config /freqtrade/user_data/config-telegram-general.json
    #  --config /freqtrade/user_data/config-discord3.json
  freqtrade4:
    image: stash86/freqtrade:linux-arm64-v8
    restart: unless-stopped
    container_name: freqtrade4
    volumes:
      - "./user_data:/freqtrade/user_data"
      - "./freqtrade_strategies:/freqtrade/freqtrade_strategies"
    ports:
      - "${DB_HOST:-127.0.0.1}:8084:8081"
    command: >
      trade
      --logfile /freqtrade/user_data/logs/freqtrade4.log
      --config /freqtrade/user_data/config4.json

  binance_proxy:
    image: stash86/binance-proxy:latest
    container_name: binance_proxy
    restart: unless-stopped
    ports:
      - "127.0.0.1:8090:8090"
      - "127.0.0.1:8091:8091"

  pg_db:
    image: postgres:latest
    container_name: pg_db
    restart: unless-stopped
    command: postgres -c config_file=/etc/postgresql/postgresql.conf -c hba_file=/etc/postgresql/pg_hba.conf
    environment:
      POSTGRES_USER: ${DB_USER:-admin}
      POSTGRES_PASSWORD: ${DB_PASS:-12345}
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
      PGCONF: "/etc/postgresql/postgresql.conf"
      PGHBA: "/etc/postgresql/pg_hba.conf"
    ports:
      - "${DB_HOST:-127.0.0.1}:${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./user_data/postgresql/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./user_data/postgresql/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    networks:
      - ft_network

  pg_admin:
    image: dpage/pgadmin4:latest
    container_name: pg_admin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin123
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "${DB_HOST:-127.0.0.1}:8080:80"
    depends_on:
      - pg_db
    networks:
      - ft_network

volumes:
  postgres_data:
    driver: local

networks:
  ft_network:
    driver: bridge

  # kucoin-proxy:
  #   image: stash86/kucoin-proxy:latest
  #   restart: unless-stopped
  #   command: -verbose 1
  #   container_name: kucoin-proxy
